body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; /* Gris clair moderne */
    color: #333; /* Couleur du texte */
    background-color: #d9d9d9;
}



footer {
    width: 100%;
    position: fixed; /* Si vous voulez qu'il reste toujours visible en bas */
    bottom: 0;
    left: 0;
    text-align: center;
}

header, footer {
    color: #f0f4f8;
    background-color: rgb(0, 0, 40);
}

/* Style de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; /* Couleur de fond de la barre */
    padding: 10px 20px; /* Espacement interne */
}

/* Style du logo */
.navbar .logo {
    font-size: 2rem;
    font-weight:bolder;
    color: rgb(4, 152, 163); /* Couleur des liens */

}

/* Style de la liste de menu */
.navbar .menu ul {
    display: flex; /* Met les items côte à côte */
    list-style: none; /* Supprime les puces de la liste */
    margin: 0;
    padding: 0;
}

/* Style des éléments de la liste */
.navbar .menu ul li {
    margin: 0 15px; /* Espace entre les liens */
}

/* Style des liens */
.navbar .menu ul li a {
    text-decoration: none; /* Supprime le soulignement */
    color: rgb(4, 152, 163); /* Couleur des liens */
    font-size: 1rem;
    transition: color 0.3s ease; /* Transition pour l'effet au survol */
}

/* Effet au survol */
.navbar .menu ul li a:hover {
    color: #036a73; /* Change la couleur au survol */
}

h1, h2 {
    padding: 10px 20px;
}

.question-container p, form {
    padding: 10px 20px;
}

.quiz-question {
    margin: auto;
    padding : 2rem;
    width : 70%;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: justify;
    
}

.quiz-text p{
    text-align: center;
    font-weight: bold;
}
.quiz-choices li {
    list-style: none; /* Supprime les puces de la liste */
    background-color: white;
    margin: 1rem;
    padding: 1rem;
}


/* button {
    background-color: #036a73;
    margin: 1em;
    
} */

form {
    display: flex;
    flex-direction: column; /* Place les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espacement entre les éléments */
}

button[type="submit"] {
    padding: 10px 20px; /* Espace interne pour agrandir le bouton */
    font-size: 1rem; /* Taille du texte */
    color: white; /* Couleur du texte */
    background-color: rgb(4, 152, 163); /* Couleur de fond */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    transition: background-color 0.3s ease; /* Transition douce pour le survol */
}

/* Effet au survol */
button[type="submit"]:hover {
    background-color: #036a73; /* Couleur légèrement plus sombre au survol */
}
