<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Teamcenter Certification QCM</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">QCM Test Training</div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Accueil</a></li>
                    <li><a href="{{ url_for('main.index') }}">Thèmes</a></li>
                </ul>
            </div>
        </div>
    </header>
        
    <div class="container">
        <h1 style="color: rgb(4, 152, 163);">Teamcenter X 14.2 - Certification </h1>
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </div>

    <footer>
        <div class="footer">
            <p>&copy; Jodré DIANGIENDA MAYOUNGA - Application QCM - 2024 </p>
        </div>
    </footer>
</body>
</html>