{% extends "base.html" %}

{% block title %}Quiz - QCM{% endblock %}

{% block content %}
    <div class="selection-container">        
        <p>Sélectionnez un thème pour commencer :</p>        
        <!-- Formulaire pour choisir un thème -->
         <div class="form-container">
             <form action="{{ url_for('main.start_quiz') }}" method="POST">
                 <label for="theme">Thèmes :</label>
                 <select name="theme" id="theme" required>
                     <option value="" disabled selected>-- Choisissez un thème --</option>                     
                     {% for theme in themes %}
                     <option value="{{ theme }}">{{ theme }}</option>
                     {% endfor %}
                    </select>
                    <button type="submit">Commencer</button>
                </form>
            </div>
    </div>
{% endblock %}